[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/cpr"]
	path = vendor/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "vendor/cpp-tui"]
	path = vendor/cpp-tui
	url = https://github.com/jonoton/cpp-tui.git
[submodule "vendor/ftxui"]
	path = vendor/ftxui
	url = https://github.com/ArthurSonzogni/ftxui
